table, td, th {
  border: 2px solid gray;
  padding: 2px;
  border-collapse: collapse;
}

body {
  background-color: white;
}

p {
  font-size: 1.1em;
}

.mainTitle {
  font-family: "Verdana", Verdana, sans-serif;
  font-size: 18em;
  text-align:center; /* justify;*/
}


ul {
  font-size: 1.1em;
}
