table{
  width: 100%;
  border-collapse:collapse;
  text-align:left;
}
 
td, th {
  border: 0 transparent;
  height: 30px;
  padding-left: 2%;
}

th {
  background: black;
  color: white;
  font-weight: normal;
  height: 50px;

}

html, body {
  margin: 0; 
  background-color: white;
  color: black;

  font-family: "Verdana", Verdana, sans-serif;
}

p {
  padding-left: 1%;
  padding-right: 1%;
 
  font-size: 1.1em;
}

h1 {
  margin-top: 10px;
  font-size:15em;
  font-weight: normal;

}

.titleCard {
  text-align:center;
}

.preamble {
  font-size: 2em;
  text-align: left;

  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 15%;

  color: white;
  background-color: black;
}

.tshirt {
  font-size: 2em;
  text-align: right;

  padding-top: 300px;
  padding-bottom: 300px;
  padding-right: 15%;
}


ul {
  font-size: 1.1em;
}
