table, td, th {
  border: 2px solid gray;
  padding: 2px;
  border-collapse: collapse;
}

html, body {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0;
  
  background-color: white;
  color: black;

  font-family: "Verdana", Verdana, sans-serif;
}

p {
  font-size: 1.1em;
}

h1 {
  margin-top: 10px;
  font-size:15em;
  font-weight: normal;

}

.titleCard {
  text-align:center;
}

.preamble {
  font-size: 2em;
  text-align: left;

  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 15%;

  color: white;
  background-color: black;
}

.tshirt {
  font-size: 2em;
  text-align: right;

  padding-top: 300px;
  padding-bottom: 300px;
  padding-right: 15%;
}


ul {
  font-size: 1.1em;
}
