<svg 
  class="clippedImage" 
  viewBox="0 0 76 100" 
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <clipPath id="blob">
      <path 
        fill="none" 
        transform="translate(38 34)" 
        d="M27,-26.7C33,-21.1,34.4,-10.5,34.9,0.5C35.4,11.6,35.1,23.2,29.2,30C23.2,36.9,11.6,39,0.2,38.8C-11.2,38.6,-22.5,36.2,-28.7,29.3C-34.9,22.5,-36,11.2,-35.6,0.4C-35.3,-10.5,-33.4,-21.1,-27.3,-26.7C-21.1,-32.4,-10.5,-33.1,0,-33.1C10.5,-33.1,21.1,-32.4,27,-26.7Z" 
      />
    </clipPath>
  </defs>
  <image 
    width="76" 
    height="76" 
    clip-path="url(#blob)" 
    alt="{{ include.description }}" 
    xlink:href="{{ include.source }}"
  >
  </image>
</svg>
