@charset "utf-8";

// Define defaults for each variable.

//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family:  "Open Sans", sans-serif;
$fancy-font-family: "Raleway", sans-serif;
$small-font-size:  14px !default;
$base-font-size:   18px !default;
$medium-font-size: 22px !default;
$large-font-size:  32px !default;
$title-font-size:  36px !default;
$base-font-weight: 400 !default;
$base-head-weight: 600 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

$lot-pink:         #AA5090 !default;
$page-white:       #FCFEFC !default;
$sea-grey:         #60757B !default;
$dark-ink:         #0C0804 !default;


$text-color:       $dark-ink !default;
$background-color: $page-white !default;
$brand-color:      $lot-pink !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;

// Width of the content area
$content-width:    880px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
