/**
 * Site header
 */
.site-header {
  min-height: min(15vw, 200px);
  padding: $spacing-unit 0;
  // Positioning context for the mobile navigation icon
  position: relative;
}

svg#waves {
  position: absolute;
  top: 0;
}

.site-title {
  font-size: 52px;
  font-family: $fancy-font-family;
  font-weight: 600;
  color: $text-color-light;
  padding: 8px 12px;
  border: 2px solid rgba(0,0,0,0);
  text-shadow: 1px 1px 5px rgba(.3, .3, .3, .3);
  border-radius: $radius-unit;

  @include media-query($on-palm) {
  }

  &,
  &:visited {
    color: $text-color-light;
  }

  &:hover {
    text-decoration: none; 
    border: 2px solid $light-white;
  }

}

.site-nav {
  float: none;
  position: absolute;
  z-index: 1;
  top: $spacing-unit;
  right: $spacing-unit / 2;
  @include default-box-shadow;
  border-radius: $radius-unit / 2;
  text-align: right;
  border: 2px solid $light-white;
  color: $text-color-light;
  background: $peach;

  .nav-trigger {
      display: none;
   
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $light-white;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    padding: 0 .5rem .5rem .5rem;
  }

  .page-link {
    color: $text-color-light;
    border: 2px solid rgba(0,0,0,0);
    line-height: $base-line-height;
    display: block;
    //padding: 8px 12px;
    font-size: $large-font-size;
    font-weight: 500;
    font-family: $fancy-font-family;
    border-radius: $radius-unit;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  a.page-link:hover, a.page-link:active {
    text-decoration: none; 
    border: 2px solid $light-white;

  }
  .active-tab {
    text-decoration: underline;
  }
  a.active-tab:hover, .active-tab:active {
    text-decoration:underline;
  }

  @media screen and (min-width: $on-medium) {
    box-shadow: none;
    position: static;
    border: none;
    text-align: left;
    background-color: inherit;
    //margin-bottom: 14px;
    padding-top: $spacing-unit;

    .page-link {
      padding: .5rem 1rem;
      text-shadow: 2px 2px 4px rgba(.3, .3, .3, .3);
    }

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;

      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
      margin-left: auto;
      color: $text-color-light;
    }

    .active-tab {
      background: none;
    }
    
  }
}



/**
 * Site footer
 */
.site-footer {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  font-size: $small-font-size;
  color: $dark-ink;
  padding-top: $spacing-unit / 2;
  padding-left: 1rem;
  @extend %clearfix;
}
.footer-col-wrapper div:first-child {
  padding-right: 100px;
  margin-right: auto;
}
.footer-col-wrapper div:last-child {
  @media screen and (min-width: $on-medium) {
    max-width: 420px;
  }
}


/**
 * Page content
 */
.page-content {
  flex: 1 0 auto;
  position: relative;
}

/**
 * Posts
 */
.post-header {
//  margin-bottom: $spacing-unit;
  margin-bottom: 1rem;
}

.post-title,
.post-content h1 {
  padding-left: 1rem;
  letter-spacing: 1.3px;
  line-height: 1;

  background-image: url( '/assets/squareish.svg' );
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.5rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}
.post-content h2 {
  background-image: url( '/assets/squareish.svg' );
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.post-content {
  margin-bottom: $spacing-unit;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  display: table;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}


/**
 * Reading logs
 */

.log-header {
  margin: $spacing-unit/2 auto;
}

.ghost {
  visibility: hidden;
}

.log-title {
  display: inline;
  font-size: $title-font-size;
  color: $text-color-light;

}

.log-nav {
  padding: 0 $spacing-unit/2 0 $spacing-unit/2;
  font-size: $large-font-size;
}

.books-read {
  table-layout: fixed;
  font-size: $book-font-size;
  margin: 0;
  
   th:nth-child(1), td:nth-child(1) {
     white-space: nowrap;
     text-align: right;
   }   
   th:nth-child(2) {
     width: 14em;
   }   
   th:nth-child(3) {
     width: 12em;
   }   
   tr:last-child th:nth-child(1){
     padding-left: 2em;
     text-align: left;
   }   

  @media screen and (min-width: $on-medium) {
    font-size: $base-font-size;
    td, th {
        border: 0 transparent;
        padding: $spacing-unit/2;
        vertical-align: top;
    }
  }
}

div.books-table-wrapper {
  background: $light-white; 
  border-radius: $radius-unit; 
  padding: 1rem 0; 
  margin-bottom: 1rem;
  @include default-box-shadow;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.leftText {
  max-width: calc(600px - 2rem);
  margin-right: auto;
}

div.text-card {
  min-width: 160px;
  min-height: 160px;
  display: inline-block;

  background-image: url( '/assets/squircle.svg' );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0rem 2rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

div.text-card *:first-child {
  margin-top: 2.5rem;

  @media screen and (min-width: $on-medium) {
    margin-top: 3.5rem;
  }
}
div.text-card *:last-child {
  margin-bottom: 2.5rem;

  @media screen and (min-width: $on-medium) {
    margin-bottom: 3.5rem;
  }
}

/**
 * projectCard
 *
 */
section.projectCard {
  margin-bottom: 4rem;
}

h2.projectCard-title {
  display: inline-block; 
  background: $light-white; 
  border-radius: $radius-unit $radius-unit 0 0;
  margin: 0;
  padding: .5rem 1.5rem;
  @include default-box-shadow;
  position: relative;
  z-index: 0;
}

h2.projectCard-title::after {
  content: "";
  position: absolute;
  
  background-color: transparent;
  bottom: 0;
  right: -2rem;
  height: 1rem;
  width: 2rem;
  border-bottom-left-radius: $radius-unit / 2;
  box-shadow: -1rem 0 0 0 $light-white; 
}

div.projectCard-content {
  position: relative;
  z-index: 1;
  @media screen and (min-width: $on-medium) {
    padding-top: 2rem;
  }
  background-color: $light-white;
  padding-top: 1rem;
  border-radius: 0 $radius-unit $radius-unit*1.05   $radius-unit*1.05;
  @include default-box-shadow;
}

ul.imgContainer {
  @media screen and (min-width: $on-medium) {
    margin: 0 2rem; 
  }
  display: flex; 
  list-style: none;
  margin-left: 0;
  border-radius: $radius-unit $radius-unit 0 0; 
  margin: 0 1rem; 
  overflow: hidden;
  background-color: #FFFFFF; /* only because 1 section has photos of different height*/
}

ul.imgContainer li {
  flex-grow: 1;
}

details.projectCard-details summary {
  padding: .5em;
  background: $peach;
  color: $text-color-light;
}

details.projectCard-details > p {
  margin: 0;
  padding: 1em;
  border-top: none;
  background: $light-white;
  max-width: 720px;
}

details.projectCard-details[open] summary {
  text-decoration: none; 
}

details.projectCard-details:last-child summary,
details.projectCard-details:last-child > p {
  border-radius: 0 0 $radius-unit $radius-unit;
}
details.projectCard-details:last-child[open] summary {
  border-radius: 0;
}

details.projectCard-details summary:hover,
details.projectCard-details summary:active {
  text-decoration: none; 
  filter: brightness(115%);
  cursor: pointer;
}

/**
 * BAN
 *
 * currently BAN-list is optimized for lists of 2 elements
 */

div.BAN {
  width: min(32vw, 240px);
  height: min(20vw, 146px);
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;

  background-image: url( '/assets/squircle.svg' );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}
div.BAN:last-child {
  margin-right: 0;
}

div.BAN-title {
  font-size: min(calc(1rem + 1vw), 1.4rem);
}
div.BAN-value {
  margin: auto;
  font-size: min(calc(1.2rem + 4vw), 3rem);
}

div.BAN-list {
  display: flex; 
  flex-direction: row; 
  margin-bottom: 6rem;
  justify-content: center;

}

/*
* Clipped Image
*
*/

svg.clippedImage {
  width: 320px;
  margin-top: 1rem;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

