/**
 * Site header
 */
.site-header {
  //min-height: $spacing-unit * 1.865;
  min-height: min(15vw, 240px);
  //line-height: $base-line-height * $base-font-size * 2.25;
  padding: $spacing-unit 0;
  // Positioning context for the mobile navigation icon
  position: relative;
  
  //border-bottom-style: solid;
  //border-width: 2px;
  //background-image: linear-gradient(12deg, $background-color, #99D3DF);
  //background: $dark-ink;
}

svg#waves {
  position: absolute;
  top: 0;
}

.site-title {
  font-size: $title-font-size;
  font-size: 52px;
  font-family: $fancy-font-family;
  font-weight: 400;
  font-weight: 600;
  //letter-spacing: -1px;
  //background-color: inherit;
  //color: $text-color;
  color: $light-white;
  padding: 8px 12px;
  //background: $lot-pink;
  border: 2px solid rgba(0,0,0,0);
  text-shadow: 1px 1px 5px rgba(.3, .3, .3, .3);

  @include media-query($on-palm) {
  }

  &,
  &:visited {
     //color: $text-color;
    color: $light-white;
  }

  &:hover {
    text-decoration: none; 
    border: 2px solid $light-white;
    //box-shadow: 2px 2px 2px;
  }

}

.site-nav {
  float: none;
  position: absolute;
  top: $spacing-unit;
  right: $spacing-unit / 2;
  background-color: $dark-ink;
  border-radius: 5px;
  text-align: right;
  border: 2px solid $sea-grey;
  color: $page-white;

  .nav-trigger {
      display: none;
   
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $page-white;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    margin: auto;
    padding-bottom: 5px;
  }

  .page-link {
    color: $page-white;
    border: 2px solid rgba(0,0,0,0);
    line-height: $base-line-height;
    display: block;
    //padding: 8px 12px;
    padding: .5rem 1rem;
    font-size: $large-font-size;
    font-weight: 500;
    font-family: $fancy-font-family;
    text-shadow: 2px 2px 4px rgba(.3, .3, .3, .3);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  a.page-link:hover, a.page-link:active {
    text-decoration: none; 
    border: 2px solid $light-white;

  }
  .active-tab {
    //background: $sea-grey;
    border-bottom: 2px solid $light-white;
    box-shadow: 0px 2px 2px -1px rgba(.3,.3, .3,.3);
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    border: none;
    text-align: left;
    background-color: inherit;
    //margin-bottom: 14px;
    padding-top: $spacing-unit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;

      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
      margin-left: auto;
      color: $page-white;
    }
    
  }
}



/**
 * Site footer
 */
.site-footer {
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  border-top: 2px solid $sea-grey;
  font-size: $small-font-size;
  color: $dark-ink;
  padding-top: $spacing-unit / 2;
  @extend %clearfix;
}
.footer-col-wrapper div:first-child {
  padding-right: 100px;
  margin-right: auto;
}
.footer-col-wrapper div:last-child {
  @media screen and (min-width: $on-medium) {
    max-width: 300px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  position: relative;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  letter-spacing: 1.3px;
  line-height: 1;

  @media screen and (min-width: $on-large) {
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}


.social-media-list {
  display: table;
  li {
    float: left;
    margin: 0 5px;
    &:first-of-type { margin-left: 0 }
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
    }
    &:hover .svg-icon { fill: currentColor; }
  }
}


/**
 * Grid helpers
 */
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}



/**
 * Landing page
 */

.bio {
}


/**
 * Reading logs
 */

.log-header {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  margin: $spacing-unit/2 auto;
  background: $page-white;
}
.ghost {
  visibility: hidden;
}
.log-title {
  display: inline;
}

.log-nav {
  padding: 0 $spacing-unit/2 0 $spacing-unit/2;
  font-size: $large-font-size;
}
.books-read {
  table-layout: fixed;
  margin-bottom: $spacing-unit;
  font-size: $book-font-size;
  //border-collapse: separate;
  //border-spacing: 0 $spacing-unit/4;
  
   tr {
     background: $page-white;
   }
  
   th:nth-child(1), td:nth-child(1) {
     white-space: nowrap;
     text-align: right;
   }   
   th:nth-child(2) {
     width: 14em;
   }   
   th:nth-child(3) {
     width: 12em;
   }   
   tr:last-child th:nth-child(1){
     padding-left: 2em;
     text-align: left;
   }   

  @media screen and (min-width: $on-medium) {
    font-size: $base-font-size;
    td, th {
        border: 0 transparent;
        padding: $spacing-unit/2;
        vertical-align: top;
     }

    }
}


.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.leftText {
  max-width: 600px;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba(204, 204, 204, .7);
}

ul.imgContainer {
  @media screen and (min-width: $on-medium) {
    margin-left: 1em;
  }
  display: flex; 
  list-style: none;
  margin-left: 0;
}
ul.imgContainer li {
  flex-grow: 1;
  margin: 2px;
}

.projectOverview details {
  @media screen and (min-width: $on-medium) {
    margin-left: 1em;
  }
  max-width: 720px;
  margin-bottom: 1em;
}

.projectOverview summary {
  padding: .5em;
  border: 2px solid #000;
}

.projectOverview details > p {
  margin: 0;
  padding: 1em;
  border: 2px solid #000;
  border-top: none;
}

.projectOverview details[open] summary {
  text-decoration: none; 
  background: #aa5090;
  color: #fff;
}

.projectOverview summary:hover, .projectOverview summary:active {
  text-decoration: none; 
  background: #aa5090;
  color: #fff;
}

