---
layout: default
---
<article class="post">
  
  {% if page.title %}
    {% if page.semester %}
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title | escape }} / {{ page.semester | escape }}
    </h1>
    {% else %}
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  {% endif %}
  {% endif %}

  </header>
  <div class="post-content">

   
  {% if page.school == "ncsu" %}  
  <h2>Useful links for NCSU students</h2>
      <ul>
        <li><a class="external" href="https://webassign.net/ncsu/login.html">WebAssign</a></li>
        <li><a class="external" href="https://wolfware.ncsu.edu">Moodle via WolfWare</a></li>
      </ul>
  <p>Students should refer to the course Moodle page for the most up-to-date resources.</p>
  {% endif %}
    
     
     
     {{ content }}
  </div>



</article>
